---
---
body
	position: relative

.landing>.container-fluid, .header-row, .landing-text
	height: 100%

@media only screen and (min-width: 540px)
	.header-row
		width: 80%
		margin: auto

@media only screen and (max-width: 539.9999px)
	.header-row
		width: 100%

@media only screen and (max-width: 980px)
	.landing-graphic
		display: none

.btn.btn-primary
	border: none
	background: #3a98d4

.btn.btn-primary:hover
	background: #4c63b6

.btn.btn-primary:active
	background: #35469c

.homeworkItem
	color: #212529
	cursor: default
	background: white
	border-radius: 3px
	border: solid 1px #cbcccd
	border-left-width: 4px
	border-top-left-radius: 0
	border-bottom-left-radius: 0
	box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2)
	font-size: 14px
	padding: 10px
	padding-right: 30px
	margin-bottom: 8px
	position: relative

.homeworkName
	font-size: 1rem

	.homeworkNamePrefix
		color: white
		padding: 2px

.classNameDot
	display: inline-block
	width: 12px
	height: 12px
	border-radius: 100%
	margin-right: 2px

.landing
	background: #f5f7fa
	padding-top: 2rem
	padding-bottom: 4.5rem
	overflow: hidden

	.landing-text
		padding-top: 0.5rem
		padding-left: 1.5rem

		.landing-title
			font-size: 3.5rem
			margin-bottom: 0.75rem

			em
				position: relative

				.landing-title-underline
					display: block
					background: url(/img/underline.svg)
					background-size: contain
					background-repeat: no-repeat
					width: 100%
					height: 0.75rem
					position: absolute
					top: 3.5rem
					left: 0

		.landing-subtitle
			font-size: 1.5rem
			margin-bottom: 0.25rem

			em
				font-style: normal
				font-weight: 400

		.btn
			font-size: 1.25rem
			margin-top: 0.75rem
			padding: 0.75rem 1.5rem

	.landing-graphic
		position: relative
		height: 16rem
		overflow-y: hidden

	.landing-graphic:after
		content: " "
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-image: linear-gradient(180deg, transparent 50%, #f5f7fa 100%)

.feature-section
	background: #4055A8
	color: white
	padding: 2rem 0

	.feature-section-title
		font-size: 2rem

	.feature-section-details
		font-size: 1.25rem
		font-weight: 300
		margin-bottom: 0.5rem

.feature-section.feature-homework-view
	.homeworkView
		.homeworkViewColumnTitle
			font-size: 1.25rem
			margin-bottom: 0.25rem

.feature-section.feature-quick-add
	background: #4C63B6

	.feature-section-details
		margin-bottom: 1rem

	.quickAdd
		margin-bottom: 0.5rem

		.col-md-4
			.quickAddInput
				border: solid 1px white
				padding: 0.25rem 0.5rem

			.quickAddArrow
				font-size: 2rem
				text-align: center

			.quickAddResult
				background: white
				box-shadow: 0 3px 17px 0 rgba(50, 50, 50, 0.75)
				color: #212529
				font-size: 14px
				padding: 40px

				.homeworkName
					font-size: 18px

.bottom-section
	background-color: #f5f7fa
	text-align: center
	padding: 2rem 0

	.bottom-section-title
		font-size: 2rem

	.btn
		margin-top: 0.25rem
		margin-bottom: 0.25rem

.feature
	height: 20rem
	min-height: 250px

.feature-section.feature-sync
	.illustration
		margin-top: 20px

		.times
			div.time
				height: 100px
				margin: 0
				padding: 0
				border-bottom: 1px dotted white;

			div.time:first-of-type
				border-top: 1px dotted white;

		.calendar-container
			position: relative

			.calendarEvent
				background: white
				width: 100%
				overflow: hidden
				padding-left: 4px
				padding-right: 2px
				z-index: 2
				color: #333
				width: 100%
				border-left: 5px solid #555
				position: absolute
				
				.calendarEventDurationLine
					background: #555
					position: absolute
					top: 0
					left: 0
					width: 2px
				
				.calendarEventName
					font-size: 13px
					font-weight: bold
					height: 17px
					overflow: hidden
					text-overflow: ellipsis
					white-space: nowrap
				
				.calendarEventTeacher, .calendarEventTime
					font-size: 12px

		.syncIcon
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			font-size: 3rem

		.homework-items
			display: flex
			flex-direction: column
			align-items: center
			flex-basis: 100%
			
			.homeworkItem
				width: 100%